<html>
<head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: rgb(252, 184, 205);
        }
        .header {
            background-color: rgb(250, 137, 173);
            padding: 20px;
            text-align: center;
            font-family:'Times New Roman';
        }
    </style>
    <title> Games</title>
    <script type="text/javascript" src="/static/main.js"></script>
    <link href="/static/main.css" rel="stylesheet">
    </head>

    <body>
        <div class="header">
            <h1>Библиотека</h1>
        </div>
        <h1> Установленные игры</h1>

        <form>
            <div>
                <input type="text" name="played" id="played">
                <label for="played">Название игры</label>
            </div>
                <input type="date" name="release" id="release">
                <label for="release">Дата выхода</label>
                <div>
                    <button onClick="createGame()">
                        Добавить
                    </button>
                </div>
        </form>
        <ul>
            {% for game in game_list %}
            <li>
                <div>
                    <div>
                        {{ game['release'] }}
                    </div>
                    <div>
                        {{ game['played'] }}
                    </div>
                    <input  value="{{game['id']}}" onChange="updateGame(this)" name ='ready' type="checkbox" {% if game.ready %} checked {% endif %}/>
                    <label for="'ready">Завершена</label>
                </div>
            </li>
            {% endfor%}
        </ul>
    </body>
</html>